##groupid.artifactid.web-resource-key
#requireResource("com.bftcom.jira-timesheet-export-plugin:jira-timesheet-export-plugin-resources")
##todo i18n
<html>
<head>
    <title>XProduct Admin</title>
    <meta name="decorator" content="atl.admin">
    <link href="css/jira-timesheet-export-plugin.css" rel="stylesheet" type="text/css">
    <script src="js/jira-timesheet-export-plugin.js"></script>
</head>
<body>
<form id="admin" method="post">

    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h2>Настройки плагина</h2>
            </div>
            <div class="aui-page-header-actions">
                <input type="submit" id="save" name="submitButton" value="Сохранить">
                <input type="submit" id="startAuto" name="submitButton" value="Запустить">
                <input type="submit" id="stopAuto" name="submitButton" value="Остановить">
                <input type="submit" id="executeManualy" name="submitButton" value="Выполнить в ручном режиме">
            </div>
        </div>
    </header>

##    таблица
    <table class="aui" id="timesheet-export-props">
        <tr>
            <td>Режим работы:</td>
            <td>
                <input type="radio" id="autoExportMode" name="exportType" value="auto" checked onchange="setExportMode(true)">Автоматически
                <input type="radio" id="manualExportMode" name="exportType" value="manual" onchange="setExportMode(false)">Вручную
            </td>
        </tr>
        <tr>
            <td>Директория экспорта:</td>
            <td><input type="text" id="exportDir" name="exportDir" value=$exportDir></td>
        </tr>
        <tr>
            <td>Директория импорта:</td>
            <td><input type="text" id="importDir" name="importDir" value=$importDir></td>
        </tr>
        <tr>
            <td>Директория импорта проектов учета:</td>
            <td><input type="text" id="financeProjectImportDir" name="financeProjectImportDir" value=$financeProjectImportDir></td>
        </tr>
        <tr>
            <td>Периодичность экспорта, в часах:</td>
            <td><input type="number" id="exportPeriod" name="exportPeriod" value=$exportPeriod step="0.1"></td>
        </tr>
        <tr>
            <td>Периодичность импорта, в часах:</td>
            <td><input type="number" id="importPeriod" name="importPeriod" value=$importPeriod step="0.1"></td>
        </tr>
        <tr>
            <td>Начальная дата:</td>
            <td><input type="date" id="startDate" name="startDate" value=$startDate></td>
        </tr>
        <tr>
            <td>Конечная дата:</td>
            <td><input type="date" id="endDate" name="endDate" value=$endDate></td>
        </tr>
        <tr>
            <td>Выгружать все трудозатраты, без учета статусов:</td>
            <td><input type="checkbox" name="includeAllStatuses" #if($includeAllStatuses) checked #end style="width: 15px"></td>
        </tr>
        <tr>
            <td>Выгружать по всем проектам:</td>
            <td><input name="includeAllProjects" id="includeAllProjects" type="checkbox" #if($includeAllProjects) checked #end onchange="setIncludeAllProjects(this.checked)" style="width: 15px"></td>
        </tr>
        <tr>
            <td>Проекты:</td>
            <td>
                <select name="projects" id="projects" multiple #if($includeAllProjects) disabled #end style="height: 200px">
                    #foreach($project in $projects)
                        <option value='$project' #if ($selectedProjects.contains($project))selected#end>$project</option>
                    #end
                </select>
            </td>
        </tr>
        <tr>
            <td>Выгружать по всем пользователям:</td>
            <td><input name="includeAllUsers" id="includeAllUsers" type="checkbox" #if($includeAllUsers) checked #end onchange="setIncludeAllUsers(this.checked)" style="width: 15px"</td>
        </tr>
        <tr>
            <td>Пользователи:</td>
            <td>
                <select name="users" id="users" multiple #if($includeAllUsers) disabled #end style="height: 200px">
                    #foreach($user in $users.keySet())
                        <option value='$user' #if ($selectedUsers.contains($user))selected#end>$users.get($user)</option>
                    #end
                </select>
            </td>
        </tr>
        <tr>
            <td>Экспорт и импорт работает в автоматическом режиме</td>
            <td>
                <label id='runningMode' auto=$runningInAutoMode>
                #if ($runningInAutoMode)
                  Да
                #else
                  Нет
                #end
                </label>
            </td>
        </tr>
        <tr>
            <td>Последний запуск, экспорт:</td>
            <td><label>$lastRunDateExport</label></td>
        </tr>
        <tr>
            <td>Сообщение последнего запуска, экспорт:</td>
            <td><label>$lastRunMessageExport</label></td>
        </tr>
        <tr>
            <td>Последний запуск, импорт:</td>
            <td><label>$lastRunDateImport</label></td>
        </tr>
        <tr>
            <td>Сообщение последнего запуска, импорт:</td>
            <td><label>$lastRunMessageImport</label></td>
        </tr>
    </table>
##    таблица

</form>
<div style="display: none" id="remove-budgets-form">
    <label for="finance-project-name">Название проекта учета</label>
    <input type="text" id="finance-project-name">
    <label for="only-duplicates">Только дубли</label>
    <input type="checkbox" id="only-duplicates">
    <input type="button" value="Удалить бюджет" onclick='deleteBudget()'>
</div>
</body>
</html>